<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
</head>
<body>
    <h3>Edit your Listing</h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT">
        <label for="title">Title:</label>
        <input name="listing[title]" id="title" value="<%= listing.title %>" type="text" />
        <br />

        <label for="description">Description:</label>
        <textarea name="listing[description]" id="description"><%= listing.description %></textarea>
        <br />

        <label for="image">Image URL/Link:</label>
        <input name="listing[image]" id="image" value="<%= listing.image %>" type="text" />
        <br />

        <label for="price">Price:</label>
        <input name="listing[price]" id="price" value="<%= listing.price %>" type="number" />
        <br />

        <label for="country">Country:</label>
        <input name="listing[country]" id="country" value="<%= listing.country %>" />
        <br />

        <label for="location">Location:</label>
        <input name="listing[location]" id="location" value="<%= listing.location %>" type="text" />
        <br />

        <button type="submit">Edit</button>
    </form>
</body>
</html>
